.grid 
    overflow: hidden
    border-radius: 15px
    width: 80%
    height: 80vh
    padding: 20px

    .k-grid-table col:nth-of-type(1), .k-grid-header col:nth-of-type(1)
        width: 12%

    .k-grid-table col:nth-of-type(3), .k-grid-header col:nth-of-type(3)
        width: 12%
        
    .k-grid-table col:nth-of-type(4), .k-grid-header col:nth-of-type(4)
        width: 10%

    .k-grid-table col:nth-of-type(5), .k-grid-header col:nth-of-type(5)
        width: 12%
